/*Nav Stuff*/
.navbar {
  top: 0;
  left: 0;
  z-index: 5;
  min-width: 100%;
  position: fixed;
}
.alertMessages {
  margin-top: 50px;
  z-index: 6;
}
.spacer-10 {
  min-height: 10px;
}
/* home.html */
.japanImage {
	height: 94vh;
	width: 100vw;
  color: white;
  background-image: url("http://res.cloudinary.com/dy6bqhnor/image/upload/v1490117119/12-Chureito-pagoda-and-Mount-Fuji-Japan_a4eyav.jpg");
  background-size: cover;
  background-position: center;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.japanImage h1 {
  font-size: 6em;
  text-shadow: 0 0 15px black;
}
.about {
  padding: 50px 15px;
  margin: 5% 25% 0 25%;
  border: 17px solid white;  
  background-color: rgba(0,0,0, 0.35);
  font-size: 22px;
  text-align: justify;
  border-radius: 25px 0 25px 0;
}
.parallax {
  position: relative;
  width: 100%;
  height: 85vh;
}
.cityName {
  color: white; 
  font-size: 50px;
  opacity: 0.5;
}
.cityName:hover {
  opacity: 1;
  text-decoration: none;
}
.divide {
  margin: 50px 0;
  height: 50px;
}
.containerbox {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.cityText {
  color: white;
  z-index: 10;
  font-size: 150px;
  position: absolute;
  text-shadow: 0 0 40px black;
}
.cityLink {
  color: white;
  opacity: 0.6;
}
.cityLink:hover {
  text-decoration: none;
  color: white;
  opacity: 0.95;
  cursor: pointer; 
}
/* cities html*/
.searchForm {
  margin: 60px 0 0 0;
}
/* city html */
.loadingDiv {
  height: 94vh;
}
.cityContainer{
  width: 100%;
}
.cityImage{
  width: 100%;
}
.citiesImage{
  width: 100%;
  overflow-y: hidden;
  height: 100vh;
  margin-top: 35px;
}
.parallaxBox{

}
.topBox{
  /*border-radius: 30px;*/
  padding: 10px;
  margin: 0 auto;
  height: 230px;
  min-width: 400px;
  border: 0;
  z-index: 100;
}
.titleYelp{
  margin-bottom: 0;
  z-index: 100;
  /*background-image: url('https://www.abercrombiekent.com/assets_global/media/images/brand_marketing/mastheads/lsgj/Asia-Japan-Classic-Japan-(1024x460).jpg');*/
  /*border: 0;*/
}
.title{
  font-size: 70px;
  width: 85%;
  position: absolute;
  color: white;
  text-shadow: 0 0 40px black;
  z-index: 10;
  margin-top: 830px;
}
.titleBig{
  font-size: 150px;
  width: 85%;
  position: absolute;
  color: white;
  text-shadow: 0 0 40px black;
  z-index: 100;
  margin-top: 500px;
}
.imageYelp{
  margin-left: 30px;
  float: left
  /*padding: 20px;*/
}
.textYelp{
  margin: 5px;
  padding-right: 15px;
  padding-left: 140px;
}

.lowerYelp{
  margin-top: 15px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

footer {
  z-index: 5;
  display: flex;
  min-width: 100%;
  justify-content: space-between;
}

.sidebarGroup{
  z-index: 1000;
  position: fixed;
  top: 10%;
  height: 50vh;
  width: 30vw;
}
.sidebarActive{
  float: left;
  background-color: white;
}
.sidebarButton{
  z-index: 1000;
  position: fixed;
  float: right;
  top: 10%;
}
back{
  z-index: 2000;
}
.signUpForm{
  margin-left: 20%;
  margin-top: 10%;
  max-width: 50vw;
  height: 79vh;
}
.signupTitle{
  text-align: center;
}