/* home.html */
.japanImage {
	height: 100vh;
	width: 100vw;
}
.about {
	height: 100vh;
	width: 100vw;
}

/*cities html*/
.parallax {
  height: 500px;
  background-color: black;
  border: 5px solid red;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
}
.cityName {
  color: white; 
  font-size: 50px;
  opacity: 0.5;

}

.cityName:hover {
  opacity: 1;
  text-decoration: none;
}






