/* home.html */
.japanImage {
	height: 100vh;
	width: 100vw;
}
.about {
	height: 100vh;
	width: 100vw;
}
.parallax {
    position: relative;
    width: 100%;
    height: 100vh;
}
.cityName {
  color: white; 
  font-size: 50px;
  opacity: 0.5;
}
.cityName:hover {
  opacity: 1;
  text-decoration: none;
}
.divide {
  margin: 50px 0;
  height: 50px;
}
.containerbox {
  overflow: hidden;
}

