/*NavBar*/
.navbar {

}

/* home.html */
.japanImage {
	height: 92vh;
	width: 100vw;
  color: white;
  background-image: url("http://res.cloudinary.com/dy6bqhnor/image/upload/v1490117119/12-Chureito-pagoda-and-Mount-Fuji-Japan_a4eyav.jpg");
  background-size: cover;
  background-position: center;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.japanImage h1 {
  font-size: 6em;
  text-shadow: 0 0 15px black;
}
.about {

  padding: 50px 15px;
  margin: 5% 25% 0 25%;
  border: 17px solid white;  
  background-color: rgba(0,0,0, 0.35);
  font-size: 22px;
  text-align: justify;
  border-radius: 25px 0 25px 0;
}
.parallax {
    position: relative;
    width: 100%;
    height: 80vh;
}
.cityName {
  color: white; 
  font-size: 50px;
  opacity: 0.5;
}
.cityName:hover {
  opacity: 1;
  text-decoration: none;
}
.divide {
  margin: 50px 0;
  height: 50px;
}
.containerbox {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.cityText {
  color: white;
  z-index: 2;
  font-size: 150px;
  position: absolute;
}
/* cities html*/
.searchForm {
  margin: 2em;
}
/* city html */
