
<div class="wrap ng-scope">
<!-- TOKYO -->
<div class='containerbox' du-parallax y="background">
	<img class="parallax" src="http://res.cloudinary.com/dy6bqhnor/image/upload/v1490117271/goodwp.com_16396_ynk8vh.jpg" alt />
</div>
<!-- KYOTO -->

<div class='containerbox'>
	<img class="parallax" src="http://res.cloudinary.com/dy6bqhnor/image/upload/v1490116940/Kiyomizu-dera_in_Kyoto-r_gzkaxk.jpg" du-parallax y="background">
</div>

<!-- NAGOYA -->
<div class='containerbox'>
<img class="parallax" src="http://res.cloudinary.com/dy6bqhnor/image/upload/v1490116797/13740-7x3_meenv5.jpg" du-parallax y="background">
</div>

</div>
