<div>

<div></div>

<!-- TOKYO -->
<a href="/cities/tokyo"><div class="parallax-window parallax" data-parallax="scroll" data-image-src="/path/to/image.jpg"><div class='cityName'>TOKYO</div></div></a>

<!-- KYOTO -->
<a href="#"><div class="parallax-window parallax" data-parallax="scroll" data-image-src="/path/to/image.jpg"><div class='cityName'>KYOTO</div></div></a>

<!-- NAGOYA -->
<a href="#"><div class="parallax-window parallax" data-parallax="scroll" data-image-src="/path/to/image.jpg"><div class='cityName'>NAGOYA</div></div></a>


</div>