
<div class="wrap ng-scope">
  
  <form class="form-inline text-center">
    <div class="form-group searchForm">
      <input type=""  class="form-control" placeholder="Enter a destination" ng-model="searchTerm">
      <button class="form-inline btn btn-primary" ng-click="getCity()">Search</button>
    </div>
  </form>

  <div class='spacer-10'></div>
  
  <!-- TOKYO -->
  <div class="containerbox flex">
  	<h1 class="cityText"><a href="/cities/tokyo">TOKYO</a></h1>
  	<img class="parallax" src="http://res.cloudinary.com/dy6bqhnor/image/upload/v1490117271/goodwp.com_16396_ynk8vh.jpg" du-parallax y="background" />
  </div>

  <!-- KYOTO -->
  <div class="containerbox">
  	<h1 class="cityText"><a href="/cities/kyoto">KYOTO</a></h1>
  	<img class="parallax" src="http://res.cloudinary.com/dy6bqhnor/image/upload/v1490116940/Kiyomizu-dera_in_Kyoto-r_gzkaxk.jpg" du-parallax y="background">
  </div>

  <!-- NAGOYA -->
  <div class="containerbox">
  	<h1 class="cityText"><a href="/cities/nagoya">NAGOYA</a></h1>
  	<img class="parallax" src="http://res.cloudinary.com/dy6bqhnor/image/upload/v1490116797/13740-7x3_meenv5.jpg" du-parallax y="background">
  </div>

</div>
