<div class="japanImage">
	<!-- <h1>About</h1> -->
	<div class='about'>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
		</p>
	</div>
</div>

<!-- <img class="japanImage" src="http://res.cloudinary.com/dy6bqhnor/image/upload/v1490117119/12-Chureito-pagoda-and-Mount-Fuji-Japan_a4eyav.jpg"> -->
	
<div class="row">
	<div class="col-xs-12">
		<div ng-include="'app/views/userSignup.html'"></div>
	</div>
</div>
