<div>
    <h1>Nagoya</h1>
</div>
<hr>
<div class="well col-xs-4" ng-repeat='f in topFood track by $index'>
<h3>{{f.name}}</h3>
<img ng-src="{{f.image_url}}">
{{f.snippet_text}}
{{f.phone}}
{{f.location.address['0']}}
<!-- {{f.url}}<br> -->
{{f.rating}}
{{f.review_count}}
</div>




<!-- 
<hr>
<div class="well">
<div class="text-center" ng-repeat='l in topLocal track by $index'>
<h1>{{l.name}}</h1><br>
{{l.phone}}<br>
{{l.location.address['0']}}<br>
{{l.url}}<br>
{{l.rating}}<br>
{{l.review_count}}<br>
<img ng-src="{{l.image_url}}"><br>
{{l.snippet_text}}<br>
</div>
</div>

 -->