<div>
    <h1>Tokyo</h1>
</div>
<ng-sidebar class="js-side-nav side-nav" no-drag>
  <nav class="js-side-nav-container side-nav__container">
    <button class="js-menu-hide side-nav__hide">close</button>
    <header class="side-nav__header">
      Side Nav
    </header>
    <ul class="side-nav__content">
      <li>Two</li>
      <li>Three</li>
      <li>Four</li>
    </ul>
  </nav>
</ng-sidebar>
<div>
<h1>Popular Destinations:</h1>
    <div class="well">
        <h3>sample resturant</h3>
        <h3>sample resturant2</h3>
        <h3>sample resturant3</h3>
    </div>
    <input type="date" name="date" value="" ng-model="date">
</div>